@font-face {
    font-family: "DIN condenced";
    src: url("../signale/font/D-DINCondensed.otf");
}

html, body {
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#toolbar {
    height: 3.5rem;
    background-color: beige;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

#CanvasContainer {
    flex-grow: 4;
    overflow: hidden;
}

.focus, .btn:focus {
    outline: none !important;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25) !important;
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #2f2f2f !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.popover-body{
    padding: 0px !important;
}

.popover{
    max-width: none !important;
}

.form-check-input:checked {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.form-check-input:focus {
    border-color: #6c757d !important;
    outline: 0;
    box-shadow: none !important;
}