@font-face {
    font-family: "DOT";
    src: url("font/intodotmatrix.ttf");
}

@font-face {
    font-family: "condenced";
    src: url("font/D-DINCondensed.otf");
}

html, body {
    height: 100%;
}

#toolbar {
    height: 2.5rem;
    background-color: #2f2f2fdd;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    position: absolute;
    top:10px;
    left: 10px;
    right: 10px;
    padding-left: 20px;
    z-index: 99;
}

#toolbar a {
    font-size: x-large !important;
}

.btn-toolbar{
    column-gap: 20px;
}

#CanvasContainer {
    overflow: hidden;
    height: 100%;
}

#sidebar {
    background-color: #00000000;
    top: 3.5rem;
    border-radius: 4px;
    margin: 2rem;
    width: 8rem;
    left: auto;
    bottom: 1rem;
    max-height: 36rem;
    height: auto;
    z-index: 0;
}

.focus, .btn:focus {
    outline: none !important;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25) !important;
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #2f2f2f !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.form-check-input:checked {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.form-check-input:focus {
    border-color: #6c757d !important;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button {
    font-size: 11pt !important;
    padding: 0.5rem !important;
}

.accordion-button:focus {
    border-style: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

#newItemMenu {
    width: 130px;
}

.newItem {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    background-origin: content-box;
    padding-left: 13px;
    background-color: #6c757d;
    border-radius: 4px;
    border-width: 0px;
}

.newItem:hover {
    background-color: #5d646b;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
}

.popover{
    max-width: 40rem !important;
}

.popover-body{
    padding: 0px !important;
}

.dropdown-item {
    padding-left: 40px !important;
}

.dropdown-item.active {    
    background-color:transparent !important;
    color:black !important;
    position: relative;
    left: -30px;
    font-weight: bold;
}

.dropdown-item.active::before{
    content: "";
    background: url(check.svg);
    background-size: 25px 25px;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    display: block;
    float: left;
}

/* .dropdown-item::before{
    content: ' ';
  background: url(check.svg);
    width: 30px;
    height: 30px;
} */
